
.container {
    position: relative;
}

.titleRect {
    width: 100%;
    height: 10vh;
    min-height: 100px;
    max-height: 100px;
    background-image: -webkit-linear-gradient(top, #AD5BEC, #AD5BEC); /* Lilac gradient */
    background-image: -moz-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -ms-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -o-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: linear-gradient(to bottom, #AD5BEC, #AD5BEC);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 10px 10px 5px black;
}

.TextBlock {
    background: #FFFFFF;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 5px black;
}

.titleRect_text {
    font-size: 40px;
    color: #FFFFFF;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.heading_text {
    text-align: left;
    line-height: 30px;
    font-size: 30px;
    color: #000000;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.heading_text_small {
    text-align: left;
    line-height: 30px;
    font-size: 25px;
    color: #000000;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    margin-bottom: 10px;
    margin-left: 70px;
}

p {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #2B2B2B;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}

.p_small {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #2B2B2B;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}

li {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #2B2B2B;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}

.mainButton {
    background-image: -webkit-linear-gradient(top, #AD5BEC, #AD5BEC); /* Lilac gradient */
    background-image: -moz-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -ms-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -o-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: linear-gradient(to bottom, #AD5BEC, #AD5BEC);
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
    min-width: 40px;
    margin-top: 4px;
    box-shadow: 10px 10px 5px black;
}

.mainButton:hover {
    background-image: -webkit-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -moz-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -ms-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -o-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: linear-gradient(to bottom, #7D18CA, #7D18CA);
    text-decoration: none;
}

.mainButtonLeft {
    background-image: -webkit-linear-gradient(top, #AD5BEC, #AD5BEC); /* Lilac gradient */
    background-image: -moz-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -ms-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -o-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: linear-gradient(to bottom, #AD5BEC, #AD5BEC);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 20px 0px 0px 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
    min-width: 50px;
    margin-top: 4px;
    box-shadow: 10px 10px 5px black;
}

.mainButtonLeft:hover {
    background-image: -webkit-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -moz-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -ms-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -o-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: linear-gradient(to bottom, #7D18CA, #7D18CA);
    text-decoration: none;
}

.mainButtonRight {
    background-image: -webkit-linear-gradient(top, #AD5BEC, #AD5BEC); /* Lilac gradient */
    background-image: -moz-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -ms-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -o-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: linear-gradient(to bottom, #AD5BEC, #AD5BEC);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 0px 20px 20px 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
    min-width: 50px;
    margin-top: 4px;
    box-shadow: 10px 10px 5px black;
}

.mainButtonRight:hover {
    background-image: -webkit-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -moz-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -ms-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -o-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: linear-gradient(to bottom, #7D18CA, #7D18CA);
    text-decoration: none;
}

.bigButton {
    background-image: -webkit-linear-gradient(top, #AD5BEC, #AD5BEC); /* Lilac gradient */
    background-image: -moz-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -ms-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -o-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: linear-gradient(to bottom, #AD5BEC, #AD5BEC);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    min-width: 50px;
    box-shadow: 10px 10px 5px black;
}

.bigButton:hover {
    background-image: -webkit-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -moz-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -ms-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -o-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: linear-gradient(to bottom, #7D18CA, #7D18CA);
    text-decoration: none;
}

.projButton {
    background-image: -webkit-linear-gradient(top, #AD5BEC, #AD5BEC); /* Lilac gradient */
    background-image: -moz-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -ms-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: -o-linear-gradient(top, #AD5BEC, #AD5BEC);
    background-image: linear-gradient(to bottom, #AD5BEC, #AD5BEC);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    border: none;
    text-decoration: none;
    margin-left: 70px;
    width: 200px;
}

.projButton:hover {
    background-image: -webkit-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -moz-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -ms-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: -o-linear-gradient(top, #7D18CA, #7D18CA);
    background-image: linear-gradient(to bottom, #7D18CA, #7D18CA);
    text-decoration: none;
}

.projBoxOne {
    background: #CBCBCB;
    min-height: 150px;
    width: 90%;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 5px black;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 4px;
    margin-right: 1%;
}

.projBoxTwo {
    background: #EDEDED;
    min-height: 150px;
    width: 90%;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 5px black;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 6px;
    margin-left: 1%;
}

.formInputField {
    width: 500px;
    font-size: 24px;
    color: #2B2B2B;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}

.formInputArea {
    width: 50%;
    min-width: 300px;
    height: 100px;
    font-size: 24px;
    color: #2B2B2B;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}
